<h1>Alta de usuario</h1>
<form class="api/user/form" action="index.html" method="put">
  <input type="text" name="id" >
  <input type="text" name="id" >
  <input type="text" name="Genero" >
  <input type="text" name="Titulo" >
  <input type="text" name="Autor" >
  <input type="text" name="Anio" >
</form>
