

<div class="jumbotron">
  <h1>API NOVELAS</h1>
  <p>En este sitio se encontrará todo lo que requiere su API referente a novelas lietarias</p>
</div>



<h1>Contenido</h1>
<form action="/api/novela/" method="get">

  <input type="submit"  value="Mostrar todo">
</form>