<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<h1>Alta novela</h1>
<form action="/api/novela/" method="post">
<div class="card-panel teal lighten-2">Número</div>
  <input type="text" name="id" >
<div class="card-panel teal lighten-2">Género</div>
  <input type="text" name="Genero" >
<div class="card-panel teal lighten-2">Título</div>
  <input type="text" name="Titulo" >
<div class="card-panel teal lighten-2">Autor</div>
  <input type="text" name="Autor" >
<div class="card-panel teal lighten-2">Año de publicación</div>
  <input type="text" name="Anio" >
<div class="card-panel teal lighten-2">Link</div>
  <input type="text" name="Link" >
  <input type="submit"  value="Guardar">
</form>
